# Dependencies
node_modules
.pnpm-store

# Build outputs
dist

# Development
.env*.local
.env.development*
*.log

# Testing
coverage
.nyc_output

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile*
.dockerignore
docker-compose*

# Misc
README.md
*.md
.turbo
